<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        {% include 'head.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    </head>
</head>
<body>
    {% include 'svg.html' %}
	<section id="mobile-nav-panel" class='mobile-nav'>
		<div class='mobile-nav-top'>
			<div class="mobile-nav-title">
				<h6 class='mobile-nav-name'>Меню</h6>
				<div class="mobile-nav-close" id="nav-close"></div>
			</div>
			<nav>
				<ul>
					<li><a href="/ru">Главная</a></li>
					<li><a href="/ru/catalog">Каталог</a></li>
					<li><a href="/ru/sales">Продажи</a></li>
					<li><a href="/ru/about#discover">Коста-дель-Асаар</a></li>
					<li><a href="#contact">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="mobile-nav-logo">
			<img src="{% static 'logo/logo-mobile-nav.png' %}" class="mobile-nav-logo-img">
		</div>
	</section>
    <div class="photo-thumbnail" id="thumbnail" style="left: -100vw;">
		<div class="photo-thumbnail-container" id="thumbnail-image" style="background-image: url('');">
			<div class="photo-thumbnail-close" id="thumbnail-close">
				<div class="photo-thumbnail-close-container">
					<svg><use xlink:href="#close-svg"></svg>
				</div>
			</div>
			<div class="change-left" id="left"><div class="change-container"><span class="arrow-left"></span></div></div>
			<div class="change-right" id="right"><div class="change-container"><span class="arrow-right"></span></div></div>
			<div class="photo-thumbnail-description">
				<h3 id="thumb-title">{{product.title_ru}}</h3>
				<p id="thumb-description">{{product.description_ru}}</p>
			</div>
		</div>
	</div>
    <main id="main">
    <header>
		<div class="header-top-menu">
			<div class="top-menu-inner">
				<div class="header-dropdown-menu">
					<button id="drop-btn"><svg> <use xlink:href="#russia"></svg><p>Русский</p></button>
					<div id='dropdown-menu' class='dropdown closed'>
						<a class='dropdown-item' href="{% url 'product_detail_eng' product.product_id %}"><svg> <use xlink:href="#england"></svg><p>English</p></a>
						<a class='dropdown-item' href="{% url 'product_detail_esp' product.product_id %}"><svg> <use xlink:href="#spain"></svg><p>Español</p></a>
						<a class='dropdown-item' href="{% url 'product_detail_uk' product.product_id %}"><svg> <use xlink:href="#ukraine"></svg><p>Українська</p></a>
					</div>
				</div>
			</div>
		</div>
        <div class="inner-header">
            <div class="header-title"><img src="{% static 'logo/logo 5.png' %}" alt="Аренда в Винаросе"></div>
			<nav class="header-nav">
				<a href="/ru" class="header-nav-item">Главная</a>
				<a href="/ru/catalog" class="header-nav-item">Каталог</a>
				<a href="/ru/sales" class="header-nav-item">Продажи</a>
				<a href="/ru/about#discover" class="header-nav-item">Коста-дель-Асаар</a>
				<a href="#contact" class="header-nav-item">Контакты</a>
			</nav>
            <div class="header-burger" id="nav-open"></div>
            <div class="header-phone">
                <a href="tel:+34659151126">Позвонить</a>
            </div>
        </div>
    </header>
    <section class="intro-detail">
        <div class="intro-inner">
            <h3 class="intro-detail-title">Найдите идеальное место для отдыха в Винаросе или Пенисколе</h3>
            <p class="intro-detail-description">Откройте для себя доступные предложения на летний сезон и с сентября по июнь на нашем веб-сайте.</p>
        </div>
    </section>
    <div class="main">
        <div class="inner-product">
            <h3 class="main-title" data-title="{{product.title_ru}}">{{product.title_ru}}</h3>
            <p class="main-description">{{product.description_ru}}</p>
			<section class="gallery">
				<div class="gallery-container">
                    {% for img in images %}
					<div class="element" data-title = "{{product.title_ru}}" data-description = "{{product.description_ru}}" style='background-image: url("{{img.image.url}}");'>
						<div class="element-description"><h4 class="element-title"></h4></div>
						<div class="element-open">
							<h3>Открыть галлерею</h3>
						</div>
					</div>
                    {% endfor %}
				</div>
			</section>
			<div class="product-availability">
				<h3 class="product-availability-title">Доступность</h3>
					<div class="availability-info"> 
						{% if availability %}
							{% load i18n %} 
							{% language 'ru'%}
							<ul>
							{% for avb in availability %}
								<li>С {{avb.start_data | date}} до {{avb.end_data | date}}</li>  
							{% endfor %}
							</ul>
							{% endlanguage %}
							{% else %}
							<p style="font-size: 18px;"> Проконсультируйтесь с нами чтобы узнать о доступности жипья</p>
						{% endif %}
					</div>
			</div>
            <div class="product-description">
                <div class="person-max-number"><svg id="icon"> <use xlink:href="#person"></svg><span>{{product.max_person}}</span></div>
                <div class="bedrooms-number"><svg id="icon"> <use xlink:href="#bedroom"></svg><span>{{product.rooms_amount}}</span></div>
					<div class="air-conditioning"><svg id="icon"> <use xlink:href="#air-conditioner"></svg>
						{% if product.has_AirConditioner == True %}<svg id="icon"><use xlink:href="#tick"></svg>
						{% else %}
						<svg id="icon"><use xlink:href="#cross"></svg>
						{% endif %}
					</div>
					<div class="beach"><svg id="icon"> <use xlink:href="#beach"></svg><svg id="icon"> 
						{% if product.has_Beach == True  %}<use xlink:href="#tick"></svg>
						{% else %} 
						<svg id="icon"><use xlink:href="#cross"></svg>
						{% endif %}
					</div>
            </div>
            <div class="product-prices">
                <div>
                <p class='price-name' style="font-size: 20px;">Цена летом</p>
                <p class="price">{{product.summer_price}}€<span id='summer-price'>/ночь</span></p>
                </div>
                <div>
                <p class='price-name' style="font-size: 20px;">Цена в остальное время года</p>
                <p class="price">{{product.rest_of_year_price}}€<span id='summer-price'>/месяц</span></p>
                </div>
            </div>
			<div class="catalog-btn">
                <a href="/ru/catalog#catalogue">Вернуться в каталог</a>
            </div>
        </div>
    </div>
	{% include 'contact/contact-ru.html' %}
	<footer class="footer" id="footer">
		<div class="footer-inner">
			<div class="footer-logo">
				<img src="{% static 'logo/logo 5.png' %}" alt="Аренда в Винаросе">
			</div>
			<div class="footer-description">
				<p>Авторские права © 2023 Аренда в Винаросе. Все права защищены</p>
			</div>
		</div>
	</footer>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/gallery.js' %}"></script>
</body>