<!DOCTYPE html>
<html lang="ru">
<head>
    <head>
        {% include 'head.html' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
		<link rel="stylesheet" href="{% static 'css/search.css' %}">
    </head>
</head>
        {% include 'svg.html' %}
<body>
    <header>
		<div class="header-top-menu">
			<div class="top-menu-inner">
				<div class="header-dropdown-menu">
					<button id="drop-btn"><svg> <use xlink:href="#russia"></svg><p>Русский</p></button>
					<div id='dropdown-menu' class='dropdown closed'>
						<a class='dropdown-item' href="/catalog"><svg> <use xlink:href="#spain"></svg><p>Español</p></a>
						<a class='dropdown-item' href="/eng/catalog"><svg> <use xlink:href="#england"></svg><p>English</p></a>
						<a class='dropdown-item' href="/uk/catalog"><svg> <use xlink:href="#ukraine"></svg><p>Українська</p></a>
					</div>
				</div>
			</div>
		</div>
    {% include 'header/ru.html' %}
	<section class="intro">
        <div class="intro-inner">
            <div class="intro-title">
                <h3>Откройте наш онлайн-каталог</h3>
            </div>
            <div class="intro-description">
                <p>Исследуйте предложения на летний сезон и с сентября по июнь на нашем сайте</p>
            </div>
        </div>
    </section>
	<section class="catalogue" id="catalogue">
		<div class="inner-catalogue">
			<div class="catalogue-title"><h3>Каталог</h3></div>
			<div class="catalogue-description">Исследуйте все доступные предложения на сайте</div>
			<form action="" method="get" class="date-search">
				<div class="check-in">
					<label for="start">Заезд: </label>
					<input type="date" id="check-in" name="check-in" value="{% if start %}{{start}}{% else%}{{year}}-{{month}}-{{day}}{% endif %}" min="{{year}}-{{month}}-{{day}}" max="" />
				</div>
				<div class="check-out">
					<label for="start">Выезд: </label>
					<input type="date" id="check-out" name="check-out" value="{{finish}}" min="{{year}}-{{month}}-{{day}}" max="" />
				</div>
				<button type="submit" class="date-search-btn">Поиск</button>
				{% if start %}
				<a href="/ru/catalog#catalogue" class="date-search-btn">Очистить фильтр</a>
				{% endif %}
			</form>
			<div class="catalogue-products">
                {% for item in products %}
                {% if item.is_Available == True %}
				<div class="catalogue-product">
					<div class="product-image">
						<img src='{{item.product_main_image.url}}' alt="{{item.title_ru}}">
					</div>
					<div class="product-title">
						<p>{{item.title_ru}}</p>
					</div>
					<div class="product-description">
						<div class="person-max-number"><svg id="icon"> <use xlink:href="#person"></svg><span>{{item.max_person}}</span></div>
						<div class="bedrooms-number"><svg id="icon"> <use xlink:href="#bedroom"></svg><span>{{item.rooms_amount}}</span></div>
                            <div class="air-conditioning"><svg id="icon"> <use xlink:href="#air-conditioner"></svg>
                                {% if item.has_AirConditioner == True  %}<svg id="icon"><use xlink:href="#tick"></svg>
                                {% else %}
                                <svg id="icon"><use xlink:href="#cross"></svg>
                                {% endif %}
                            </div>
                            <div class="beach"><svg id="icon"> <use xlink:href="#beach"></svg><svg id="icon"> 
                                {% if item.has_Beach == True  %}<use xlink:href="#tick"></svg>
                                {% else %} 
                                <svg id="icon" style="stroke: black;"><use xlink:href="#cross"></svg>
                                {% endif %}
                            </div>
					</div>
					<div class="product-prices">
						<div>
						<p class='price-name'>Цена летом</p>
						<p class="price">{{item.summer_price}}€<span id='summer-price'>/ночь</span></p>
						</div>
						<div>
						<p class='price-name'>Цена в остальное время года</p>
						<p class="price">{{item.rest_of_year_price}}€<span id='summer-price'>/месяц</span></p>
						</div>
					</div>
					<div class="product-button">
						<a href="{% url 'product_detail_ru' item.product_id %}" class="product-btn">Подробнее</a>
					</div>
				</div>
                {% endif %}
                {% endfor %}
			</div>
		</div>
	</section>
	{% include 'contact/contact-ru.html' %}
	<footer class="footer" id="footer">
		<div class="footer-inner">
			<div class="footer-logo">
				<img src="{% static 'logo/logo 5.png' %}" alt="Аренда в Винаросе">
			</div>
			<div class="footer-description">
				<p>Авторские права © 2023 Аренда в Винаросе. Все права защищены</p>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
</body>
</html>