<!DOCTYPE html>
<html lang="sp">
<head>
    {% include 'head.html'%}
</head>
<body>
    {% include 'svg.html'%}
        <header>
            {% load static %}
            <div class="header-top-menu">
                <div class="top-menu-inner">
                    <div class="header-dropdown-menu">
                        <button id="drop-btn"><svg> <use xlink:href="#russia"></svg><p>Русский</p></button>
                        <div id='dropdown-menu' class='dropdown closed'>
                            <a class='dropdown-item' href="/"><svg> <use xlink:href="#spain"></svg><p>Español</p></a>
                            <a class='dropdown-item' href="/eng"><svg> <use xlink:href="#england"></svg><p>English</p></a>
                            <a class='dropdown-item' href="/uk"><svg> <use xlink:href="#ukraine"></svg><p>Українська</p></a>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'header/ru.html' %}
            <section class="intro">
                <div class="intro-inner">
                    <div class="intro-title">
                        <h3 alt-eng='Find your perfect holiday spot in Vinaros and Peñiscola'>Найдите идеальное место для отдыха на побережье Коста-дель-Асаар</h3>
                    </div>
                    <div class="intro-description">
                        <p>Откройте для себя доступные аренды на летний сезон и с сентября по июнь на нашем веб-сайте</p>
                    </div>
                    <div class="intro-btn">
                        <a href="/ru/catalog">Узнать больше</a>
                    </div>
                </div>
            </section>
            <section class="services">
                <div class="inner-services">
                    <h3 class="services-title">Услуги</h3>
                    <div class="services-flex">
                        <div class="services-text">
                            <p class="services-description"> <svg> <use xlink:href="#tick"> </svg>Мы предлагаем вам расслабляющий отпуск с семьей и друзьями на побережье Асаар, в городах Винарос и Пеньискола. Это места, где есть много покоя и развитая инфраструктура</p>
                            <p class="services-description"> <svg> <use xlink:href="#tick"> </svg>Если вы владелец и хотите максимально расширить свою аудиторию, наше объявление подходит именно вам</p>
                            <p class="services-description"> <svg> <use xlink:href="#tick"> </svg>Наш профессиональный менеджмент обеспечит хорошее состояние и готовность к приему гостей для всех объектов.</p>
                        </div>
                        <img src="{% static 'img/services 3.jpg'%}" alt="Аренда в Винаросе">
                    </div>
                </div>
            </section>
            <section class="best-sellers">
                <div class="inner-best-sellers">
                    <div class="best-sellers-intro">
                        <h3 class="best-sellers-title">Лучшие предложения</h3>
                        <p class="best-sellers-description">Откройте лучшие доступные предложения</p>
                    </div>
                    <div class="best-sellers-products">
                        <div class="best-seller-carousel owl-carousel owl-theme owl-loaded">
                            {% for item in products %}
					        {% if item.is_best_offer == True %}
                            <div class="item carousel-item">
                                <div class="product-image">
                                    <img src='{{item.product_main_image}}' alt="{{item.title_ru}}">
                                </div>
                                <div class="product-title">
                                    <p>{{item.title_ru}}</p>
                                </div>
                                <div class="product-description">
                                    <div class="person-max-number"><svg id="icon"> <use xlink:href="#person"></svg><span>{{ item.max_person }}</span></div>
                                    <div class="bedrooms-number"><svg id="icon"> <use xlink:href="#bedroom"></svg><span>{{ item.rooms_amount }}</span></div>
                                    <div class="air-conditioning"><svg id="icon"> <use xlink:href="#air-conditioner"></svg>
                                        {% if item.has_AirConditioner == True %}<svg id="icon"><use xlink:href="#tick"></svg>
                                        {% else %}
                                        <svg id="icon"><use xlink:href="#cross"></svg>
                                        {% endif %}
                                    </div>
                                    <div class="beach"><svg id="icon"> <use xlink:href="#beach"></svg><svg id="icon"> 
                                        {% if item.has_Beach == True %}<use xlink:href="#tick"></svg>
                                        {% else %} 
                                        <svg id="icon" style="stroke: black;"><use xlink:href="#cross"></svg>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-prices">
                                    <div>
                                    <p class='price-name'>Цена летом</p>
                                    <p class="price">{{ item.summer_price }}€<span id='summer-price'>/ночь</span></p>
                                    </div>
                                    <div>
                                    <p class='price-name'>Цена в остальное время года</p>
                                    <p class="price">{{ item.rest_of_year_price }}€<span id='summer-price'>/месяц</span></p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <a href="{% url 'product_detail_ru' item.product_id %}" class="product-btn">Подробнее</a>
                                </div>
                            </div>
                            {% endif %}
					        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% include 'contact/contact-ru.html' %}
            <footer class="footer" id="footer">
                <div class="footer-inner">
                    <div class="footer-logo">
                        <img src="{% static 'logo/logo 5.png' %}" alt="Аренда в Винаросе">
                    </div>
                    <div class="footer-description">
                        <p>Авторские права © 2023 Аренда в Винаросе. Все права защищены</p>
                    </div>
                </div>
            </footer>
            <script src="{% static 'js/script.js' %} "></script>
            <script src="{% static 'js/carousel.js' %}"></script>
    </body>
    </html>